language: php

sudo: false

php:
  - '7.1'
  - '7.2'
  - '7.3'
  - '7.4'
  - '8.0'

env:
  matrix:
    - LARAVEL=5.8.*
    - LARAVEL=^6.0
    - LARAVEL=^7.0
    - LARAVEL=^8.0

matrix:
  fast_finish: true
  exclude:
    - php: 7.1
      env: LARAVEL=^6.0

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-dist --no-suggest

script: vendor/bin/phpunit tests
